html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.navbar-bg {
    background-color: #0DCAF0;
}
.nav-logo{
    width: 90px;
    height: 60px;
}

.navbar-nav a:hover{
    color: #0DCAF0;
}

.login{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.671);
}

.body-logo{
    width: 100%;
    max-width: 500px;
    height: auto;
    opacity: 80%;
}

.video {
    width: 100%;
    height: auto;
  }

.main{
    color:rgb(79, 178, 210);
}

.main-ex{
    color: rgb(20, 37, 212);
    font-size: 2rem;
}

.btn-main{
    width: 300px;
}

.btn-main:hover{
    color: white;
}

.card{
    width: 100%;
    border: none;
}

.newsletter{
    background-color:rgba(211, 211, 211, 0.199);
    font-size: 1.1rem;
}

.btn-subs:hover{
    color: white;
}

footer{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background-color: #0dcaf06e;
}

.btn-footer:hover {
    color: #0DCAF0;
}

.footer-info{
    font-size: 0.8rem;
    font-family:'Jeju Myeongjo', serif;
}

.row{
   list-style: none;
   text-align: left;
}

.col{
    text-decoration: none;
    font-size: 1.1rem;
    color: #0d77f0;
}

.copyrights{
    font-size: 0.65rem;
}

@media screen and (max-width: 48rem) { /** 스크린 사이즈가 48rem이 최대일때 (0-48) **/

    .fa-circle-user{
        padding-left: 15px;
    }
    
    .first-line{
        text-align: center;
        padding-bottom: 10px;
    }

    .footer-row{
        display:none;
    }

    .video {
        width: 100%;
        max-height: 100%;
      }

    .card {
        margin: 10px 10px 0;
    }
}